/* fonts */

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts_project_1/lato-v24-latin-regular.woff2) format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts_project_1/lato-v24-latin-700.woff2) format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts_project_1/lato-v24-latin-900.woff2) format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fonts */

/* global styles */
:root {
  --white-color: #fff;
  --black-color: #000000;
  --secondary-black-color: #102746;
  --accent-color: #006dfe;
  --button-background-color: #1B7DFF;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}
/* global styles */

/* header styles start */
.header { 
  position: fixed; /* прибиваємо щоб при скролі знаходився зверху */
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  max-width: 1060px;
  margin: 0 auto;

  padding: 0 20px; /* test padding */
}

.header__container {
  display: flex;
  flex-wrap: wrap; /* вівдповідає за перенос контента щоб не наїжали один на один, в цядях безпеки */
  align-items: flex-end;
  justify-content: space-between;

  padding-top: 62px;
}

.header__list-nav {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 68px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  color: var(--white-color);
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.6;
}
.header__logo:hover,
.header__logo:focus,
.header__logo:active {
  opacity: 0.8;
}
/* --- header styles end --- */

/* --- hero section start --- */
.hero {
  min-height: 100vh;

  background: linear-gradient(180deg, rgba(53, 66, 103, 0.0001) 0%, #151824 95.04%), url(../images_project_1/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 22px;

  font-size: 50px;
  font-weight: 500;
  max-width: 619px;

  color: var(--white-color);

  padding-top: 263px;
}

.hero__subtitle {
  margin-bottom: 59px;

  font-size: 16px;
  font-weight: 400;
  max-width: 546px;

  color: var(--white-color);
}
/* form */
.form__info {
  display: flex;
  flex-wrap: wrap;
}
.form__field {
  font-size: 18px;
  font-weight: 500;
  color: var(--white-color);

  width: 297px;
  background-color: transparent;
  background-size: 20px;
  background: url(../images_project_1/svg_project_1/sircle-icon.svg) no-repeat left 19px;
  border: 0;
  border-bottom: 2px solid rgba(191, 192, 197, 1);
  margin-right: 60px;
  padding-left: 43px;
}
.form__field::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: var(--white-color);
}

.form__button-submit {
  padding: 15px 39px;
  text-transform: uppercase;

  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: var(--white-color);
  background-color: var(--button-background-color);
  border: 0;
  border-radius: 2px;
}

.form__button-submit:hover,
.form__button-submit:focus,
.form__button-submit:active {
  background-color: var(--accent-color);
} 
/* form */
/* --- hero section end --- */
/* ------------------------ */
/* benefits section start */
/* benefits section end */

.benefits {
  background: silver;
}

.benefits__container {
  padding: 36px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.benefits__title {
  font-size: 40px;  
  font-weight: 500;
}

.benefits__cards {
  display: flex;

}

.benefits__card {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.benefits__card-title {
  font-weight: 600;
  font-size: 22px;
}

.benefits__card-subtitle {
  max-width: 300px;
  width: 100%;
}

.benefits__icon {
  max-width: 66px;
  width: 100%;
  height: 66px;
}

.benefits__card-more {
  display: flex;
  column-gap: 24px;
  align-items: center;
}

.benefits__card-link {
  color: #006DFE;
  font-size: 16px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.inspired {
  margin-top: 100px;
}

.inspired-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inspired-container {
  padding: 36px 24px;

  padding: 36px 24px 36px 24px;

  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 24px;
  padding-right: 24px;

  padding: 36px 24px 36px;
}

.inspired-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

}
.inspired-title {
  font-weight: 500;
  font-size: 40px;
}

.inspired-link {
  display: flex;
  align-items: center;
  column-gap: 16px;

  color: #006DFE;
  font-size: 16px;
  line-height: 24px;
}

.inspired__body {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.inspired-body__top {
  display: flex;
  column-gap: 8px;
}

.inspired-body__top-item {
  max-width: 50%;
  height: 354px;
  width: 100%;
  background: url('/images_project_1/CJSO_Japan_Nagasaki_Park.jpg') no-repeat center/cover;

  display: flex;
  align-items: end;
 
  padding: 0 0 20px 20px;

  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

.inspired-body__bottom {
  display: flex;
  column-gap: 8px;
}

.inspired-body__bottom-item {
  max-width: 33%;
  height: 354px;
  width: 100%;
  background: url('/images_project_1/527440-shutterstock-1513825088.jpg') no-repeat center/cover;

  display: flex;
  align-items: end;
 
  padding: 0 0 20px 20px;

  font-size: 50px;
  font-weight: 700;
  color: #fff;
}


